%html
  %body
    %h1 File uploader!
    %form(method="post" enctype='multipart/form-data')
      folder:
      %input(type='text' name='folder')
      %br
      %input(type='file' name='myfile')
      %br
      %input(type='submit' value='Upload!')

